/* 1.member-info.css */
.set_pw_ul {
	margin-bottom: 50px;
}
.member-content_li {
	display: flex;
	align-items: center;
	height: 44px;
}
.member-content-title {
	color: #738056;
	font-size: 14px;
	width: 90px;
	min-width: 90px;
}
.member-content-text {
	margin-right: 80px;
}
.icon_edit {
	width: 32px;
	height: 32px;
}
.icon_eye {
	position: relative;
	right: 30px;
	width: 22px;
	height: 22px;
	top: 6px;
	cursor: pointer;
}
.input_member {
	display: block;
	width: 250px;
	height: 32px;
	padding-left: 10px;
	box-sizing: border-box;
}
.btn-group {
	display: flex;
}
.btn {
	margin-right: 20px;
}
.alert_login {
	margin-bottom: 20px;
}
/* modal 完成修改 */
.modal_finish {
	width: 200px;
	height: 160px;
	background-color: #e5f3e1;
	border-radius: 10px;
	position: fixed;
	top: calc(30% - 100px);
	left: calc(50% - 100px);
	transition: 0.3s;
}
svg#circle {
	position: relative;
	top: 68px;
	left: 50%;
	transform: translate(-50%, -50%) rotate(270deg);
	animation-direction: reverse;
}
.circle {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
}
.ani_stroke {
	animation: stroke 3s ease-out forwards;
}
.icon_finish {
	position: relative;
	top: -44px;
	left: 74px;
	width: 53px;
	opacity: 0;
	animation: fadeIn 1s ease-out forwards;
}
.finish_text {
	width: 80px;
	position: relative;
	bottom: 20%;
	left: calc(50% - 37px);
	font-weight: 500;
	animation: fadeIn 1s ease-out forwards;
	color: #738056;
}
@keyframes stroke {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fadeIn {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* RWD 550 */
@media screen and (max-width: 550px) {
	.member-content-text {
		font-size: 14px;
		margin-right: 30px;
	}
	.input_member {
		width: 200px;
	}
}
/* RWD 420 */
@media screen and (max-width: 420px) {
	.member-content_li {
		display: block;
		height: auto;
	}
	.member-content-title {
		margin: 20px 0 5px;
	}
	.btn-group {
		flex-direction: column;
		align-items: center;
	}
	.btn {
		margin: 10px 0;
	}
}
/* 2.test-record.css */
.member_content {
	box-sizing: border-box;
}
.member_content_empty {
	width: calc(100% - 180px);
	box-sizing: border-box;
}

.test_record_table {
	width: 100%;
	border-collapse: collapse;
}
.title_table {
	min-width: 65px;
	font-family: 16px;
	color: #738056;
	white-space: nowrap;
	font-weight: 400;
	text-align: center;
}
.table_content_row {
	height: 50px;
	border: 0.5px solid #fff;
	border-bottom: 1px solid #c4c4c4;
	border-style: solid;
	display: flex;
}
.table_content {
	text-align: center;
	font-size: 16px;
}

.title_table_name,
.title_table_date,
.table_content_date {
	text-align: left;
}
.form_title_row {
	display: flex;
	justify-content: space-between;
}
.test_record_card {
	display: flex;
	height: 50px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #c4c4c4;
}
.content_score .form_content {
	color: #005478;
}
.form_title {
	font-size: 16px;
	color: #738056;
	min-width: 65px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}
.form_content {
	min-width: 65px;
	text-align: center;
}
.form_title_name {
	width: 50%;
	text-align: left;
}
.form_content_name {
	max-width: 380px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 500;
}
.form_title_date,
.form_content_date {
	text-align: left;
	padding-left: 10px;
}
.form_content_date {
	font-weight: 500;
	width: 50px;
}

.img_flower {
	width: 36px;
	margin: 0 auto;
}
.empty_group {
	text-align: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
}
/* RWD 1024 */
@media screen and (max-width: 1024px) {
	.form_title_row {
		display: none;
	}
	.test_record_card {
		display: block;
		height: 54px;
	}
	.content_main {
		margin: 6px 0;
	}
	.form_content {
		padding: 0 10px;
		box-sizing: border-box;
		white-space: nowrap;
		min-width: 80px;
		font-size: 14px;
	}
	.form_content_date {
		min-width: 50px;
	}
	.content_score .form_content:nth-of-type(1):before {
		content: '對/錯:';
		color: #738056;
		font-weight: 400;
		margin-right: 6px;
	}
	.content_score .form_content:nth-of-type(2):before {
		content: '聽力:';
		color: #738056;
		font-weight: 400;
		margin-right: 6px;
	}
	.content_score .form_content:nth-of-type(3):before {
		content: '閱讀:';
		color: #738056;
		font-weight: 400;
		margin-right: 6px;
	}
	.content_score .form_content:nth-of-type(4):before {
		content: '總分:';
		color: #738056;
		font-weight: 400;
		margin-right: 6px;
	}
}

/* RWD 768 */
@media screen and (max-width: 768px) {
	.member_content {
		width: 100%;
	}
}
/* RWD 550 */
@media screen and (max-width: 550px) {
	.member_content {
		width: 100%;
	}
	.content_score {
		flex-direction: column;
		align-items: flex-start;
	}
	.test_record_card {
		height: auto;
		padding: 10px 0 15px;
	}
	.form_content {
		margin-bottom: 4px;
		/* padding: 0; */
	}
	.content_main {
		display: block;
	}
	.form_content_name {
		text-align: start;
		white-space: normal;
	}
}
