<div class="header">
    <a class="logo_header" href="../login/1.login.html">
        <img src="../img/ynso_logo.png" alt="">
    </a>

    <ul class="navbar_ul">
        <li id="nav_test" class="navbar_li"><a href="../test/1.selection.html">模擬測驗</a></li>
        <li id="nav_member" class="navbar_li"><a href="../member/1-2.info_test-record.html">會員中心</a></li>
        <li class="navbar_li"><a href="../login/1.login.html">登出</a></li>
    </ul>
    <div class="hamburger">
        <!-- <img src="../icon/hamburger.svg" alt=""> -->
        <div class="ham_line"></div>
    </div>
</div>
<!-- hamburger -->
<div class="header_RWD hidden">
    <div class="bg_mask"></div>
    <ul class="navbar_ul_RWD">
        <li class="navbar_li_RWD"><a href="../test/1.selection.html">模擬測驗</a></li>
        <li class="navbar_li_RWD"><a href="../member/1-2.info_test-record.html">會員中心</a></li>
        <li class="navbar_li_RWD"><a href="../login/1.login.html">登出</a></li>
    </ul>
</div>