<!-- modal 跳窗 -->
<!-- 測驗資訊 跳窗 -->
<div id="modal_test_info" class="modal_info hidden">
    <div class="bg_mask"></div>
    <div class="modal_window">
        <div class="title_modal">測驗資訊</div>
        <ul class="test-content">
            <li class="test-content_li">
                <p class="test-content-title">證照</p>
                <p class="test-content-text">多益 Toeic</p>
            </li>
            <li class="test-content_li">
                <p class="test-content-title">制度</p>
                <p class="test-content-text">2018多益新制</p>
            </li>
            <li class="test-content_li">
                <p class="test-content-title">時間</p>
                <p class="test-content-text">2020/7/21</p>
            </li>

        </ul>
        <div class="btn btn_modal">
            關閉
        </div>
    </div>
</div>
<!-- 離開測驗 跳窗 -->
<div id="modal_test_quit" class="modal_info hidden">
    <div class="bg_mask"></div>
    <div class="modal_window">
        <div class="title_modal">離開測驗</div>
        <p class="modal_text">確定離開測驗?</p>
        <div class="btn_group">
            <div class="btn btn_modal">
                返回測驗
            </div>
            <a href="../test/1.selection.html" class="btn btn_modal_alert">
                離開
            </a>
        </div>
    </div>
</div>