<div class="icon_setting">
    <img class="icon_setting_img" src="../icon/setting.svg" alt="">
</div>
<div class="func_group d-flex">
    <div class="font-adj d-flex">
        <img class="icon_func" src="../icon/text.svg" alt="">
        <img id="icon_minus" class="icon_func" src="../icon/text-minus.svg" alt="">
        <img id="icon_plus" class="icon_func" src="../icon/text-plus.svg" alt="">
    </div>
    <div class="time-count d-flex">
        <img class="icon_func" src="../icon/time.svg" alt="">
        <p class="time-text">00 : 00 : 00</p>
    </div>
</div>