<div class="test_list d-none p-e-none">
    <!-- 聽力測驗說明 -->
    <a class="part_q btn_listening_dir part_q_finish" href="../test/3-1.intro_listen.html">LISTENING
        direction</a>
    <!-- part1 -->
    <div class="part">
        <div class="part_title color-db">Part 1</div>
        <div class="part_q_group">
            <!-- part1 - 測驗說明 -->
            <a class="part_q part_q_finish" href="../test/4-1.part1_intro.html">
                <img class="icon_info" src="../icon/info_w.png" alt="">
            </a>
            <!-- part1 - 題目 -->
            <a class="part_q part_q_finish" href="../test/5-1.part1.html">1</a>
            <a class="part_q part_q_finish">2</a>
            <a class="part_q part_q_finish">3</a>
            <a class="part_q part_q_now">4</a>
            <a class="part_q">5</a>
        </div>
    </div>
    <div class="part">
        <div class="part_title color-db">Part 2</div>
        <div class="part_q_group">
            <!-- 改用js寫 -->
            <a class="part_q" href="../test/4-2.part2-7_intro.html">
                <img class="icon_info" src="../icon/info_w.png" alt="">
            </a>
            <a class="part_q" href="../test/5-2.part2.html">6</a>
            <a class="part_q">7</a>
            <a class="part_q">8</a>
            <a class="part_q">9</a>
            <a class="part_q">10</a>
            <a class="part_q">11</a>
            <a class="part_q">12</a>
            <a class="part_q">13</a>
            <a class="part_q">14</a>
            <a class="part_q">15</a>
            <a class="part_q">16</a>
            <a class="part_q">17</a>
            <a class="part_q">18</a>
            <a class="part_q">19</a>
            <a class="part_q">20</a>
        </div>
    </div>
    <!-- 閱讀測驗說明 -->
    <a class="part_q btn_listening_dir" href="../test/3-2.intro_reading.html">READING
        direction</a>
    <div class="part">
        <div class="part_title color-db">Part 3</div>
        <div class="part_q_group">
            <div class="part_q">
                <img class="icon_info" src="../icon/info_w.png" alt="">
            </div>
            <a class="part_q" href="../test/5-3.part3-5.html">21</a>
            <a class="part_q">22</a>
            <a class="part_q">23</a>
        </div>
    </div>
    <div class="part">
        <div class="part_title color-db">Part 6</div>
        <div class="part_q_group">
            <div class="part_q">
                <img class="icon_info" src="../icon/info_w.png" alt="">
            </div>
            <a class="part_q" href="../test/5-4.part6-7.html">24</a>
            <a class="part_q">25</a>
            <a class="part_q">26</a>
        </div>
    </div>
</div>
<div class="func-bar_bottom">
    <div class="btn btn_pri">
        <span class="prev-page">上一頁</span>
        <img class="icon_arr-l" src="../icon/arr-l-w.png" alt="">
    </div>
    <div id="btn_test_list" class="btn btn_sec">
        <img class="icon_btn" src="../icon/list.png" alt="">
        <span class="btn_sec_text">題目總覽</span>
    </div>
    <div class="btn btn_sec">
        <img class="icon_btn" src="../icon/send.png" alt="">
        <a class="btn_sec_text" href="../test/6.result.html">提交測驗</a>
    </div>
    <div class="btn btn_pri">
        <span class="next-page">下一頁</span>
        <img class="icon_arr-r" src="../icon/arr-r-w.png" alt="">
    </div>
</div>