.set_pw_ul {
	margin-bottom: 50px;
}
.member-content_li {
	display: flex;
	align-items: center;
	height: 44px;
}
.member-content-title {
	color: #738056;
	font-size: 14px;
	width: 90px;
	min-width: 90px;
}
.member-content-text {
	margin-right: 80px;
}
.icon_edit {
	width: 32px;
	height: 32px;
}
.icon_eye {
	position: relative;
	right: 30px;
	width: 22px;
	height: 22px;
	top: 6px;
	cursor: pointer;
}
.input_member {
	display: block;
	width: 250px;
	height: 32px;
	padding-left: 10px;
	box-sizing: border-box;
}
.btn-group {
	display: flex;
	justify-content: center;
}
.btn {
	margin: 0 20px;
}
.alert_login {
	margin-bottom: 20px;
}
/* modal 完成修改 */
.modal_finish {
	width: 200px;
	height: 160px;
	background-color: #e5f3e1;
	border-radius: 10px;
	position: fixed;
	top: calc(30% - 100px);
	left: calc(50% - 100px);
	transition: 0.3s;
}
svg#circle {
	position: relative;
	top: 68px;
	left: 50%;
	transform: translate(-50%, -50%) rotate(270deg);
	animation-direction: reverse;
}
.circle {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
}
.ani_stroke {
	animation: stroke 3s ease-out forwards;
}
.icon_finish {
	position: relative;
	top: -44px;
	left: 74px;
	width: 53px;
	opacity: 0;
	animation: fadeIn 1s ease-out forwards;
}
.finish_text {
	width: 80px;
	position: relative;
	bottom: 20%;
	left: calc(50% - 37px);
	font-weight: 500;
	animation: fadeIn 1s ease-out forwards;
	color: #738056;
}
@keyframes stroke {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fadeIn {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* 考試紀錄 */
.test_record_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid #c4c4c4;
}
.test_info {
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.test_result_wrap {
	align-items: flex-end;
	min-width: 280px;
}
.ex,
.test_result {
	margin: 0 6px;
	text-align: center;
}
.ex {
	font-size: 12px;
	margin-bottom: 5px;
	margin-right: 10px;
}
.ex p:first-child {
	margin: 4px;
}
.ex p {
	color: #828282;
}
.test_result {
	width: 60px;
	border: 1px solid #afbe80;
	border-radius: 5px;
}
.test_result_number {
	background-color: #e5f3e1;
	padding: 2px 0;
	border-radius: 0 0 4px 4px;
}
.date,
.test_name {
	margin: 0 10px;
}
.test_result_title {
	font-size: 14px;
	color: #828282;
	margin: 2px 0;
}
.test_result_score {
	font-size: 18px;
	font-weight: 700;
	color: #005478;
}
.test_result_score_result {
	color: #e03d47;
}
.test_result_count {
	font-size: 14px;
	color: #738056;
}
/* RWD 1024 */
@media screen and (max-width: 1024px) {
	.test_record_card {
		align-items: flex-start;
	}
	.test_info {
		flex-direction: column;
		align-items: flex-start;
	}
	.test_name {
		margin-bottom: 10px;
	}
	.test_result_wrap {
		margin-left: 10px;
	}
}
/* RWD 550 */
@media screen and (max-width: 550px) {
	.member-content-text {
		font-size: 14px;
		margin-right: 30px;
	}
	.input_member {
		width: 200px;
	}

	.test_name {
		width: calc(100% - 30px);
		margin: 0 0 10px 0;
	}
	.fz-m {
		font-size: 14px;
	}
	.test_result_wrap {
		margin-left: 0;
	}
	.test_result_score {
		font-size: 16px;
	}
	.test_result_count {
		font-size: 12px;
	}
	.test_result {
		width: 52px;
		margin: 0 4px;
	}
}
/* RWD 420 */
@media screen and (max-width: 420px) {
	.member-content_li {
		display: block;
		height: auto;
	}
	.member-content-title {
		margin: 20px 0 5px;
	}
	.btn-group {
		flex-direction: column;
		align-items: center;
	}
	.btn {
		margin: 10px 0;
	}
}
/* RWD 350 */
@media screen and (max-width: 350px) {
	.test_record_card {
		flex-direction: column;
	}
}
